.color{
    color: #192655;
    font-size: 22px !important;
    margin-top: -20px;
}

.btn-general{
    background-color: #3876BF;
    color: white;
}

.btn-general:hover{
    background-color: #192655;
    color: white;
}

#formularioProfesores{
    margin-top: -10px;
    margin-left: 22%;
}